.footer {
  &_wrap {
    background: #444B58;
  }

  &_block {
    display: flex;
    justify-content: center;
  }
  
  &_container {
    display: flex;
    flex-grow: 1;
    background: #444B58;
    margin: 20px 0;
    padding: 0;
    justify-content: space-between;
  }

  &_logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }

  &_menu {
    display: flex;
    align-items: center;

    &_list{
      display: flex;
      list-style: none;
    }

    &_item {
      margin-right: 40px;

      a{
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}