.header {
  display: flex;
  justify-content: center;
  
  }
  .conteiner_header {
    display: flex;
    flex-grow: 1;
    background: #484283;
    margin: 20px 0;
    padding: 0;
    justify-content: space-between;
  }
  
  .header_logo {
    
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .header_menu{
    margin-left: 220px;
    display: flex;
    align-items: center;
  }
  
  .header_menu_list {
    display: flex;
    list-style: none;
  }
  
  .header_menu_item {
    margin-right: 40px;
  }
  
  .header_menu_item a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
  }
  
  .header_cart img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  hr{
    background: rgba(255, 255, 255, 0.50);
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    width: 1200px;
  }
  
  .block_start{
    background-image: url('../../img/fontext.svg');
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .block_title {
    h1 {
      font-size: 36px;
      font-weight: 400;
      line-height: 140%;
      justify-content: space-between;
      max-width: 580px;
      margin-top: 100px;
      margin-bottom: 20px;
    }
  
    p {
      font-family: Intro Book;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      max-width: 480px;
      margin-bottom: 40px;
    }
  }
  
  button {
    width: 250px;
    height: 60px;
    background: #F14F4F;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  
  .sort_h1 {
      font-size: 30px;
      font-weight: 700;
      color: #444B58;
      margin-top: 60px;
      margin-bottom: 40px;
  }
  
  .catalog{
    display: flex;
  }